:root {
    --main-color: #1A1C36; /* Bleu pétrole */
    --side-color: #FF75B2; /* Rose bonbon */
}

* {
    font-family: open_sansregular, 'sans serif';
}

body {
    /* background-image: url(../assets/background.jpg); */
    margin: 0;
    padding: 0;
}

/* Default rules */
a {
 text-decoration: none;
}

.hidden {
    display: none !important;
}
/* Default rules */

div#page-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Footer menu */
div#floating-form {
    width: 90%;
    min-width: 300px;
    margin-left: auto; margin-right: auto;
    /* padding: 0 1.5rem 0 1.5rem; */

    background-color: var(--main-color);
    border-radius: 0.75rem;
}

div#floating-form form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

div#floating-form p {
    color: #FFF;
    margin: 1.5rem;
}

select {
    border: none;

    text-align: center;
    /*background-color: var(--side-color);*/
    /*color: #000;*/
}

/* Menu de navigation flottant */
div#floating-nav {
    position: fixed;
    top: 2.5%;
    right: 1rem;
    width: 300px;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
    background-color: var(--side-color);
    display: flex;
    flex-direction: column;
}

div#floating-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#floating-nav ul li:hover {
    background-color: #FFF;
}

div#cross-menu {
    text-align: right;
}
i#closing-cross {
    cursor: pointer;
}

/* Menu burger */
div#burger-icon {
    position: fixed;
    top: 2.5%;
    right: 1rem;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#burger-icon:hover {
    cursor: pointer;
}

div#burger-icon > div {
    width: 30px;
    height: 6px;
    background-color: var(--side-color);
    transition: background-color 0.5s;
}

div#burger-icon:hover > div {
    background-color: var(--main-color);
}

/* Bouton to-top */
div#to-top {
    position: fixed;
    bottom: 5%;
    right: 1rem;
    z-index: 1;
}

div#to-top i {
    font-size: 2rem;
    color: var(--side-color);
}

header {
    width: 99%;
    min-width: 320px;
    margin-left: auto; margin-right: auto;

    text-align: center;
}

/* Titre et slogan */

h1, h3 {
    display: inline-block;
}

h1 {
    color: var(--side-color);
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-style: italic;
    font-size: 1.25rem;
}

/* select:focus {
    background-color: var(--side-color);
    color: white;
} */

/* MAIN */

main {
    width: 75%;
    min-width: 275px;
    margin: auto;
    margin-top: 5rem;
}

main p {
    line-height: 1.9rem;
    font-size: 1.1rem;
}

@media (max-width: 800px) {
    p > label {
        display: none;
    }
}