{% extends 'base.html.twig' %}
{% block body %}
    {%  set avatar_dir = constant('App\\Service\\Avatar\\SvgAvatarFactory::AVATAR_DIR') %}
    <h2>Yolo !</h2>
    <img src="{{ asset(upload_dir ~ '/' ~ avatar_dir ~ '/' ~ filename) }}" />
{% endblock %}
