<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Alumni Greta{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% endblock %}
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/23e218197a.js" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        <!-- Eléments flottants -->

        <!-- Menu burger -->
        <div id="burger-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- Menu flottant -->
        <div id="floating-nav" class="hidden">
            <div id="cross-menu">
                <i id="closing-cross" class="fas fa-times"></i>
            </div>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/">Connexion</a></li>
                <li><a href="/">Inscription</a></li>
                <li><a href="/avatar">Avatar ;-)</a></li>
            </ul>
        </div>

        <!-- Arrow to top -->
        <div id="to-top">
            <a href="#title-bloc">
                <i class="fas fa-arrow-circle-up"></i>
            </a>
        </div>

        <header>
            <div id="title-bloc">
                <h1>Alumni Greta&nbsp;</h1>
                <h3>&nbsp;le site des anciens élèves du Greta</h3>
            </div>

            <div id="floating-form">
                <form action="avatar" method="POST">
                    <p>
                        <label for="training">Rechercher une formation</label>&nbsp;
                        <select id="training" name="training">
                            <option value="none">-- Choisissez une formation dans la liste --</option>
                            <option value="dev-web-web-mob">Développeur web et web mobile</option>
                            <option value="tai">Technicien d'assistance en informatique</option>
                        </select>
                    </p>
                    <p>
                        <label for="promo">Promotion</label>&nbsp;
                        <select id="promo" name="promo">
                            <option value="none">-- Choisissez une promotion --</option>
                            <option value="2019-02_2020-04">02-2019 / 04-2020</option>
                        </select>
                    </p>
                    <p>
                        <input type="submit" value="Go!" />
                    </p>
                </form>
            </div>
        </header>

        <div id="page-wrapper">
            {% block body %}{% endblock %}
        </div>

            <script src="js/main.js"></script>
        {% endblock %}
    </body>
</html>