{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h2>Présentation</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar maximus urna, sed commodo nulla sollicitudin egestas.
            Nullam sagittis varius elit, at varius sapien volutpat at. Phasellus in justo justo. Donec congue eros eget neque consequat
            mollis. Cras fermentum euismod arcu et ultricies. Vivamus neque ipsum, fringilla ac dictum venenatis, porta sed velit.
            Vivamus nec magna est. Praesent sed consequat eros. Nullam gravida ex sit amet velit pharetra, a suscipit risus rhoncus.
            Aliquam euismod ornare nunc, non pretium elit tincidunt sit amet.
        </p>
        <p>
            In ultrices pellentesque turpis vitae cursus. Phasellus suscipit mollis mauris nec scelerisque. Sed sit amet eros tincidunt,
            cursus tortor id, pulvinar metus. Donec vestibulum erat vitae tempus rhoncus. Sed pretium nunc vel urna tristique, vitae
            bibendum nisi aliquet. Ut ultricies est et auctor convallis. Mauris in metus id velit rhoncus tincidunt finibus mollis neque.
        </p>
        <p>
            Curabitur erat ex, volutpat vitae ultricies nec, accumsan eu sem. Nam eu justo eget elit venenatis elementum a ut dui. Nullam
            gravida turpis dui, sed fringilla felis interdum ac. Cras sed ipsum tortor. Cras interdum mollis erat, eget cursus justo
            ullamcorper vitae. Nam accumsan scelerisque sem et dapibus. Nunc gravida leo consectetur placerat auctor. Ut non dapibus
            tortor. Proin at tempor dui.
        </p>
        <!-- Another one to have fun temporaly -->
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar maximus urna, sed commodo nulla sollicitudin egestas.
            Nullam sagittis varius elit, at varius sapien volutpat at. Phasellus in justo justo. Donec congue eros eget neque consequat
            mollis. Cras fermentum euismod arcu et ultricies. Vivamus neque ipsum, fringilla ac dictum venenatis, porta sed velit.
            Vivamus nec magna est. Praesent sed consequat eros. Nullam gravida ex sit amet velit pharetra, a suscipit risus rhoncus.
            Aliquam euismod ornare nunc, non pretium elit tincidunt sit amet.
        </p>
        <p>
            In ultrices pellentesque turpis vitae cursus. Phasellus suscipit mollis mauris nec scelerisque. Sed sit amet eros tincidunt,
            cursus tortor id, pulvinar metus. Donec vestibulum erat vitae tempus rhoncus. Sed pretium nunc vel urna tristique, vitae
            bibendum nisi aliquet. Ut ultricies est et auctor convallis. Mauris in metus id velit rhoncus tincidunt finibus mollis neque.
        </p>
        <p>
            Curabitur erat ex, volutpat vitae ultricies nec, accumsan eu sem. Nam eu justo eget elit venenatis elementum a ut dui. Nullam
            gravida turpis dui, sed fringilla felis interdum ac. Cras sed ipsum tortor. Cras interdum mollis erat, eget cursus justo
            ullamcorper vitae. Nam accumsan scelerisque sem et dapibus. Nunc gravida leo consectetur placerat auctor. Ut non dapibus
            tortor. Proin at tempor dui.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar maximus urna, sed commodo nulla sollicitudin egestas.
            Nullam sagittis varius elit, at varius sapien volutpat at. Phasellus in justo justo. Donec congue eros eget neque consequat
            mollis. Cras fermentum euismod arcu et ultricies. Vivamus neque ipsum, fringilla ac dictum venenatis, porta sed velit.
            Vivamus nec magna est. Praesent sed consequat eros. Nullam gravida ex sit amet velit pharetra, a suscipit risus rhoncus.
            Aliquam euismod ornare nunc, non pretium elit tincidunt sit amet.
        </p>
        <p>
            In ultrices pellentesque turpis vitae cursus. Phasellus suscipit mollis mauris nec scelerisque. Sed sit amet eros tincidunt,
            cursus tortor id, pulvinar metus. Donec vestibulum erat vitae tempus rhoncus. Sed pretium nunc vel urna tristique, vitae
            bibendum nisi aliquet. Ut ultricies est et auctor convallis. Mauris in metus id velit rhoncus tincidunt finibus mollis neque.
        </p>
        <p>
            Curabitur erat ex, volutpat vitae ultricies nec, accumsan eu sem. Nam eu justo eget elit venenatis elementum a ut dui. Nullam
            gravida turpis dui, sed fringilla felis interdum ac. Cras sed ipsum tortor. Cras interdum mollis erat, eget cursus justo
            ullamcorper vitae. Nam accumsan scelerisque sem et dapibus. Nunc gravida leo consectetur placerat auctor. Ut non dapibus
            tortor. Proin at tempor dui.
        </p>
    </main>
{% endblock %}
